<div class="container">
  <div class="menu">
    {{#link-to 'index'}}
      <h1>
        <em>SuperRentals</em>
      </h1>
    {{/link-to}}
    <div class="links">
      {{#link-to 'about'}}
        About
      {{/link-to}}
      {{#link-to 'contact'}}
        Contact
      {{/link-to}}

      {{#if session.isAuthenticated}}
        {{#link-to 'create'}}
          Create Rental
        {{/link-to}}
        {{#link-to 'edit'}}
          Edit My Rentals
        {{/link-to}}
      {{/if}}

    </div>
    <div class="login">
      {{#if session.isAuthenticated}}
        <button {{action 'logout'}}>Logout</button>
      {{else}}
        <button {{action 'login'}}>Login</button>
      {{/if}}
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>